.header {
  width: 99%;
  height: 10em;
}
body {
  background-image: url("background.jpg");
  background-color: #cccccc;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bar {
  background-image: url("bar.jpg");
  background-color: #cccccc;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}
.parag {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}
.flexing {
  --gap: 12px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.flexing > * {
  margin: var(--gap) 0 0 var(--gap);
}

@media (max-width: 576px) {  
  .header {
    width: 100%;
    height: 7em;
  }
  .crimg{
    width: 100%;
    height: 3em;

  }
  
  .card-title{
     font-size: smaller;

  }
 

  .col-md{
    height: 50px;
    width: max-content;
    font-size: 20px;
 }

 .h{
   font-size: 30px;
 }

 .about{
  font-size: 20px;
  width: 10rem;
  height: max-content;
   
 }
 .bum{
   font-size: 20px;
   size: 20px;
 }

}


@media (max-width: 768px) {  
  .parag{
    font-size: 10px;
  }
}